#include <AuroraCore_Resources.hpp>
#include "..\Headers\Stellaris_Resources.hpp"



#include <AuroraCore_WinTargetVer.hpp>
#include <Windows.h>



STELLARIS_IDI_MAIN_ICON ICON L".\\Icons\\Stellaris_MainIcon.ico"



STELLARIS_IDM_MAIN_MANIFEST RT_MANIFEST L".\\Manifests\\Stellaris_MainManifest.manifest"



STELLARIS_IDS_DEFAULT_VERTEX_SHADER AURORA_CORE_GLSL_RESOURCE L".\\Shaders\\Stellaris_DefaultVertexShader.glsl"
STELLARIS_IDS_DEFAULT_FRAGMENT_SHADER AURORA_CORE_GLSL_RESOURCE L".\\Shaders\\Stellaris_DefaultFragmentShader.glsl"



#include "Stellaris_EnglishUS.rc2"
